html
    head
        title Cette page n'existe pas
        meta(charset="utf-8")
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    body
        include nav.pug
        h1 Cette page n'existe pas