html
    head
        title Inscription
        meta(charset="utf-8")
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    body
     include nav.pug
     .container
        h1 Bienvenue dans le chat