html
    head
        title Page du #{language}
        meta(charset="utf-8")
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
    body
     include nav.pug
     .container
      h1 Bienvenue sur le chat
       #list Allez vous inscrire pour commencer a utiliser l'application