nav.navbar.navbar-expand-sm.navbar-light
  a.navbar-brand(href='/' class="ml-3") Accueil
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation' class="mr-3")
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/chat')
          | Chat
      li.nav-item
        a.nav-link(href='/signup')
          | Inscription
      li.nav-item
        a.nav-link(href='/signin')
          | Connexion
      li.nav-item
        a.nav-link(href='/admin')
          | Admin   